<% include ../header%>

 	<div class="jumbotron transparency-plus">
		<h2><%=title%></h2>
		<a href="/contacts/new" class="btn btn-primary btn-lg active" role="button">Add Contact</a>
    </div>

    <div class="jumbotron transparency-plus">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Status</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>

			<% mycontacts.forEach( function(contact) { %>
				<tr>
					<td><%= contact.name%></td>
					<td><%= contact.email%></td>
					<td>Status</td>
					<td> <a href="/contacts/edit/<%= contact._id %>"> Edit </a></td>
					<td>Remove</td>
					<td>Chat</td>
				</tr>
			<%})%>

			</tbody>
		</table>

    </div>

    

<% include ../footer%>
