<% include ../header%>

	<div id="dialog"></div>
 	<div class="jumbotron transparency-plus">

		<div class="col-xs-4 placeholder">
			<div> <a href="/contacts" class="btn btn-primary active" role="button">Back</a> Chatting to <%=chatto%></div>
		</div>

		<div class="col-xs-5 placeholder list-inline" id="list_chatting">
			
		</div>

		<br/>

    </div>

   

    <pre  class="pre-scrollable transparency-plus" id="chatMessages"></pre>


	<div class="transparency-plus">
		<div class="row">
  			<div class="col-xs-8">
  				<input type="hidden" id="chatto" value="<%=chatto%>">
    			<input type="text" id="messageText" class="form-control input-lg" placeholder="Message">
    		</div>

	    	<div class="col-xs-1">
				<input type="button" id="btnSendMesssage" class="btn btn-primary btn-lg active" value="Send">
			</div>
		</div>
	
	</div>

    </div>


    
<% include notify_script %>
<% include ../footer%>
