<% include ../header%>


     <div class="jumbotron transparency-plus">
		<h2>About us</h2>
    	<h3>We are Panic Talk</h3>
    	<hr/>
    	<p>
    		Panictalk is a chat for you and your friends say what they want, without fear or apprehension of history! <br/>
			Panictalk not want to know about any subject. This does not concern us!
    	</p>
    </div>




<% include ../footer%>
