<% include ../header%>


     <div class="jumbotron transparency-plus">
		<h2>Privacy</h2>
    	<h3>We are Panic Talk</h3>
    	<hr/>
    	<p>
    		Panictalk stores your data (email address) and your contacts (name and email address). Panictalk does not store any message sent or received. Panictalk can save cookies to identify if the user is connected. <br/><br/>
			We never disclose to third parties the individual data of our users, except after your express permission.
    	</p>
    </div>




<% include ../footer%>
