<% include ../header%>

    <div class="jumbotron transparency-plus">
    	
    	<%if (session){%>
    	<div class="col-xs-2 placeholder">
    		<img src="http://lorempixel.com/130/140/people" class="img-thumbnail" />
    	</div>
    	<%}%>

    		<h1><%= session.name %> </h1>
    		<h3>Edit profile (soon)</h3>

    </div>



<% include ../footer%>
