<% include ../header%>


     <div class="jumbotron transparency-plus">
		<h2>Terms</h2>
    	<h3>We are Panic Talk</h3>
    	<hr/>
    	<p>
    		Panictalk is a free chat and DO NOT store any message history, and therefore, who use Panictalk, agrees that it is aware of this condition. Having nothing to complain for misuse.
    	</p>
    </div>




<% include ../footer%>
