

       <div id="footer" class="navbar-default navbar-fixed-bottom ">
		  <div class="container ">
		      
		       <footer>
		       		<span><a href="/">Panic Talk 2014 - All rights reserved</span>  | 
		       		<span><a href="/privacy">Privacy policy</a></span>  | 
		       		<span><a href="/terms">Terms of use</a></span> 
		       </footer>

		  </div>
		</div>

 	 </div>

  </body>
</html>


<script src="/socket.io/socket.io.js"></script>
	<script>	

		var socket = io.connect();

		socket.on('notify-online', function(msg){
			$("#count-online").html(msg);

		});


		socket.on('send-client', function (msg) {
				alert(msg);
		});


		$(document).ready(function(){

			//$("#btn-login").click(function(){
				//	socket.emit('send-server', 'Teste');
			//	});

		});

	</script>
