<% include header%>

 	<div class="jumbotron transparency-plus">
 		<h1>Error</1>
		<h2>Page not found :(</h2>
		<p><a href="/" class="btn btn-primary btn-lg active" role="button">Back</a></p>
    </div>

    

<% include footer%>
